NODE_ENV=development

POSTGRES_URL=postgres://app:example@localhost:5432/test
DRIZZLE_DEBUG=false

BETTER_AUTH_SECRET=dev-only-better-auth-secret-change-me
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_GOOGLE_CLIENT_ID=
BETTER_AUTH_GOOGLE_CLIENT_SECRET=
BETTER_AUTH_ALLOWED_USERS=["example@gmail.com"]
