node_modules
.DS_Store
dist
dist-ssr
*.local
.env
helm/values.yaml
terraform/terraform.tfvars
terraform/.terraform/
terraform/*.tfstate*
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json

# Temp files
.temp/**/*
!.temp/.gitkeep

# Uploaded files
uploads/**/*
!uploads/.gitkeep
