---
import Layout from '../layouts/layout.astro';
import { Protect } from '@clerk/astro/components';
import { CheckAuth } from '@/components/check-auth';

const { isAuthenticated } = Astro.locals.auth();

if (!isAuthenticated) {
  return Astro.redirect('/');
}

const user = await Astro.locals.currentUser();
---

<Protect>
  <Layout title="Protected">
    <h1 class="mt-8 text-2xl font-bold">Protected Page</h1>
    <p class="mt-4">Welcome, {user?.firstName} {user?.lastName}!</p>

    <CheckAuth client:load />
  </Layout>
</Protect>
