name: test

on:
  push:
    branches:
      - "**"

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      CI: true
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Install node
        uses: actions/setup-node@v6
        with:
          cache: "npm"
      - name: Install dependencies
        run: npm i
      - name: Copy .env file
        run: cp .env.example .env
      - name: Run unit tests
        run: npm run test
      - name: Run integration tests
        run: npm run test:integration
